@{
    ViewData["Title"] = "Privacy Policy";
}
<link rel="stylesheet" href="~/css/sitze.css" asp-append-version="true" />
<header id="header">
      <ul id="ul1">
              <li><a href="#">главная </a></li>
              <li><a href="#">о нас   </a></li>
              <li><a href="#">услуги  </a></li>
              <li><a href="#">клиенты </a></li>
              <li><a href="#">контакты</a></li>
      </ul>    
</header>


<div id="logo">
    <div id="div1">
         <img src="https://static.wixstatic.com/media/a9ff3b_c68db1575c544cbfae471830908f1ea9.png/v1/fill/w_53,h_58,al_c,q_85,usm_0.66_1.00_0.01/a9ff3b_c68db1575c544cbfae471830908f1ea9.png"/>
         <span>
             БИЗНЕС 
             <br/>
             КОНСАЛТИНГ
         </span>
    </div>
    <div id="div2">
         <p>
       <span> ПОЗВОНИТЕ НАМ ПРЯМО СЕЙЧАС</span>
        <br/>
       <h2 class="span2"> <b>+7 (495) 000-00-00</b></h2>​
         </p> 
    </div>
</div>
<div class="img2">
    <img src="~/img/g.jpeg"/>
</div>

<div class="contact">
    <p>Начните ваш прямой путь к успеху</p>
    <p class="aa">Стратегия. Устойчивость. Глобализация</p>
    <a href="#">СВЯЗАТЬСЯ С НАМИ</a>
</div>
<br/>
<div id="ereq">
    
    <div id="d1">
      <h4>
        О НАС 
      </h4>
      
        <div class="sa"></div>
        <br/>
      <i>
          Это текст.Нажмите один раз и выберите
          «Редактировать текст» или просто 
          кликните дважды, чтобы добавить свое 
          содержание и настроить шрифт.
          Текстовый блок можно перетащить в любое 
          место на странице.
          Расскажите посетителям сайта о себе
          подробнее, например, как вам пришла в 
          голову идея бизнеса.
      </i>
      <br/>
      <br/>
      <a href="#"> УЗНАТЬ ПОДРОБНЕЕ >> </a>
    </div>

    <div id="d2">
        <h4>ФИЛОСОФИЯ</h4>
        <div class="sa"></div>
        <br/>
        <i>
            Это текст. Нажмите один раз и выберите
            «Редактировать текст» или просто кликните
            дважды, чтобы добавить свой текст и
            настроить шрифт. Вы можете переместить 
            его в любое место на странице.
            Расскажите посетителям сайта о себе.
        </i>

        <br/>
      <br/>
      <a href="#"> УЗНАТЬ ПОДРОБНЕЕ >> </a>
    </div>
    <div id="d3">
        <h4>УСЛУГИ</h4>
        
        <div class="sa"></div>
        <br/>
        <ul>
            <li>
                <i>Стратегия и организация</i>
            </li>
            <li>
                <i>Развитие компании</i>
            </li>
            <li>
                <i>Глобализация</i>
            </li>
            <li>
                <i>Операционный менеджмент</i>
            </li>
              <li>
                <i>​Финансы компании</i>
            </li>
              <li>
                <i>IT-менеджмент</i>
            </li>
              <li>
                <i>Устойчивость</i>
            </li>
            
              <li>
                <i>Стратегическое планирование</i>
            </li>
            
              <li>
                <i>Брендинг</i>
            </li>
            
            <li>
                <i>Работа со СМИ</i>
            </li>
            <li>
                <i>Бизнес-коучинг</i>
            </li>
        </ul>
      <a href="#"> УЗНАТЬ ПОДРОБНЕЕ >> </a>
    </div>
</div>
<br/>
<br/>
<footer id="footer">
     <div id="fdiv1">
         <span>
             © 2023 «БИЗНЕС-КОНСАЛТИНГ».  Сайт создан на
         </span>
     </div>
     <div>
         <ul  id="ul2">
             <li id="aaa"><a href="#">  ГЛАВНАЯ</a></li>
             <li id="idr"></li>
             <li id="aaa"><a href="#"> О НАС</a></li>
             <li id="idr"></li>
             <li id="aaa"><a href="#"> УСЛУГИ</a></li>
             <li id="idr"></li>
             <li id="aaa"><a href="#"> КЛИЕНТЫ</a></li>
             <li id="idr"></li>
             <li id="aaa"><a href="#"> КОНТАКТЫ</a></li>
          </ul>
     </div>
     <div class="asd">
        <a  href="https://vk.com/" target="_blank"> <img src="~/img/WW.jpeg" alt="vk"/></a>
        <a  href="https://www.facebook.com/" target="_blank"><img src="~/img/meta.jpeg" alt="facebook"/></a>
        <a  href="https://twitter.com/" target="_blank"> <img src="~/img/tvi.jpeg" alt="twitter"/></a>
     </div>
</footer>

@*
    <a href="https://www.youtube.com/watch?v=nw7jo58a8x8" >Youtube</a>
<a href="mailto:mail.ru?subject=Cragravorum?submit">
    mail mail.ru
    </a>
<a href="tel:+37491300310; coll">tel</a>
<div id="phone-link"></div>
<script>
    if(/BlackBerry|iPhone|iPod|iPad|Android|IEMobile|webOS|Opera Mini/i.test(navigator.userAgent)) {
    document.getElementById("phone-link").innerHTML = '<span><a href="tel:091300310">(091)300310</a></span>';
          } else	{
    document.getElementById("phone-link").innerHTML = '<span>(091)-30-03-10</span> ';
    }
</script>
*@